.react-bs-table table th {
  overflow: hidden;
  white-space: pre-wrap;
  text-overflow: ellipsis;
}

.react-bs-table table td {
  overflow: hidden;
  white-space: pre-wrap;
  text-overflow: ellipsis;
}

.vertical-align tr > td {
  vertical-align: middle;
  background-color: red;
}

.table > tbody > tr > td {
  vertical-align: middle;
}
