.react-bs-table table th {
  overflow: hidden;
  white-space: pre-wrap;
  text-overflow: ellipsis;
}

.react-bs-table table td {
  overflow: hidden;
  white-space: pre-wrap;
  text-overflow: ellipsis;
}

.vertical-align tr > td {
  vertical-align: middle;
}

.table > tbody > tr > td {
  vertical-align: middle;
}

.min25 {
  vertical-align: middle;
  background-color: yellow;
}

.min30 {
  vertical-align: middle;
  background-color: red;
  color: white;
}

.onOperator {
  vertical-align: middle;
  background-color: pink;
}

.anulado {
  vertical-align: middle;
  background-color: #286e41;
  color: white;
}

.onOperator:hover {
  color: black;
}
.min25:hover {
  color: black;
}
.min30:hover {
  color: black;
}
.anulado:hover {
  color: black;
}
